.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0rem;
}

.forms{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media screen and (max-width: 768px){
  .forms{
    flex-direction: column;
  }
}
